<div class="" style="background-position: center; background-size: cover; background-clip: border-box;position: relative; background-image: url('img/bgimg.jpg');">
<div class="container text-center py-5 ">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="img/Photo_Nityoday_Tekchandani_Bubbles.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Nityoday Tekchandani</h5>
              <p class="card-text">University student, MBA + B. Tech (CSE) Integrated degree. Expected graduation in 2025.</p>
            </div>
            <div class="card-body">
              <a href="https://www.linkedin.com/in/nityoday" target="_blank" class="card-link">LinkedIn</a>
              <a href="https://github.com/nityoday/" target="_blank" class="card-link">Github</a>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="img/Yash_1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Yash Sutaria</h5>
              <p class="card-text">I am currently pursuing an MBA+Btech Integrated Degree from SVKM's NMIMS university.</p>
            </div>
            <div class="card-body">
              <a href="https://www.linkedin.com/in/yash-sutaria-4389b71b6/" target="_blank" class="card-link">LinkedIn</a>
              <a href="https://github.com/yashsutaria" target="_blank" class="card-link">Github</a>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="img/mahim.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Mahim Kapoor</h5>
              <p class="card-text">Student at SVKM's Narsee Monjee Institute of Management Studies (NMIMS)</p>
            </div>
            <div class="card-body">
              <a href="https://www.linkedin.com/in/mahimk9/" target="_blank" class="card-link">LinkedIn</a>
              <a href="https://github.com/mahimk9/" target="_blank" class="card-link">Github</a>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>