// underscore represents that this file is not main and should be included in the main scss file.
// colors: this is the primary color
$primary: #DB162F;
$primary-hover: #7D70BA;
$secondary: #F8F8F8;
$pure: #fff;
$dark: #252323;
$gray: #ccc;
$green: #6BF178;
$bgreen : #8CD790;
// Transition 
$smooth: all .3s ease-in-out;