// underscore represents that this file is not main and should be included in the main scss file.
// colors: this is the primary color
$primary: #Fe5F1E;
$primary-hover: #b23301;
$secondary: #F8F8F8;
$pure: #fff;
$dark: #232323;
$gray: #ccc;

// Transitions:
$smooth: all .5s ease-in-out;